.shadow-1 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.popins {
  font-family: "Poppins" !important;
}

.ramto {
  font-family: "Rammetto One" !important;
}

.shadow-1:hover {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

.sks-homeImg {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.spicy {
  font-family: "spicy_riceregular";
}

.banner-btns button {
  font-weight: 400;
  font-family: "Rammetto One", sans-serif;
}

.btn-red {
  background-color: #d63348;
  color: white;
  border-radius: 50px;
  padding: 10px 30px;
  font-family: "Rammetto One";
}

.btn-red:hover {
  background-color: #cc132c;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sks-swiper-home
  .swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 10% !important;
}
.sks-swiper-home .swiper-pagination-bullet-active {
  background-color: #cc132c !important;
}

.swiper-pagination-bullet {
  opacity: 1 !important;
  background-color: white !important;
}
.para-text {
  color: #777777;
  font-family: "Poppins";
  font-size: 17px;
}

.sks-about-home::before {
  content: "";
  background: url("../assets/drra.png");
  width: 100%;
  display: block;
  position: absolute;
  top: -35px;
  left: 0;
  height: 40px;
  z-index: 1;
}
.sks-about-home::after {
  content: "";
  background: url("../assets/drra2.png");
  width: 100%;
  display: block;
  position: absolute;
  bottom: -30px;
  left: 0;
  height: 40px;
  z-index: 1;
}

.btn-blue {
  background-color: #09405e;
  color: white;
  border-radius: 50px;
  padding: 10px 30px;
  font-family: "Rammetto One";
}

.btn-blue:hover {
  background-color: #0d4c6e;
}
/* .swiper-wrapper {
  position: relative !important;
} */

.swiper-pagination {
  bottom: 10% !important;
  margin-left: 12%;
  text-align: start;
}

.home-about-swiper .swiper-button-prev,
.swiper-button-next {
  color: white !important;
}
.home-about-swiper .swiper-button-prev:after,
.swiper-button-next:after {
  background: #d63348 !important;
  padding: 10px 15px;
  border-radius: 50% !important;
  font-size: 20px;
  font-weight: bold !important;
}
.home-about-swiper .swiper-button-next:after {
  font-size: 20px;
}
